<div class="row justify-content-center about">
  <div class="col-12 px-0">
    <div class="container">
      <div class="row">
        <div class="about-me-left col-sm-4">
          <div id="me-contents">
            <h5>USA raised, Japan based.</h5>
            <span>A former web developer in Chicago, I came to Japan in 2017 and have been thriving in Tokyo's IT recruitment industry since.</span>
            <p>Now a full-stack developer, and a big believer in Kaizen（改善） or "continuous improvement" - I'm always chasing new projects, new tech, and new ways to collaborate.</p>
            <p>Beyond the digital realm, you can find me hiking Japan's 100 famous mountains （百名山）or jogging downtown.</p>
          </div>
        </div>
        <div class="about-me-right col-sm-8">
          <div id="me-subcontents">
            <%# <div class="tech-disp" data-codelist="hello"> %>
            <div class="tech-disp">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
