<div class="row delimit">
  <div class="col-md-6 col-lg-6 d-flex flex-column">
    <div class="main-container " id="about">
      <div id="main-header">
        <h4>USA raised, Japan based</h4>
      </div>
      <div id="main-textbox">
        <p>Fullstack developer from Chicago, specializing in Ruby & Python</p>
        <p>Bachelor's in Computer Science from DePaul University, with experience in the finance & web space</p>
        <p>I like hiking, running, and making music on Ableton</p>
      </div>
      <%# <p>私はイリノイ州シカゴ出身のフルスタック開発者であり、主にRubyとPythonを専門としています。</p>
        <p>DePaul大学でコンピュータサイエンスの学士号を取得し、金融やウェブコンサルティング企業向けのソフトウェアを開発しました。</p>
        <p>山登りやランニング、Abletonでの電子音楽制作が好きです。</p> %>
    </div>
  </div>
  <div class="col-md-6 col-lg-6">
    <div class="sub-container">
      <div id="sub-header">
        <h4>My Tech Stack</h4>
      </div>
      <div class="row justify-content-center align-items-center tech-disp"></div>
    </div>
  </div>
</div>
