<div class="row delimit">
  <div class="col-md-6 col-lg-6 d-flex flex-column">
    <div class="main-container " id="about">
      <div id="main-header">
        <h4>USA raised, Japan based</h4>
      </div>
      <div id="main-textbox">
        <p>Fullstack developer from Chicago, specializing in Ruby & Python</p>
        <p>Bachelor's in Computer Science from DePaul University, with experience in the finance & web space</p>
        <p>I like hiking, running, and making music on Ableton</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-6">
    <div class="sub-container">
      <div id="sub-header">
        <h4>My Tech Stack</h4>
      </div>
      <div class="row justify-content-center align-items-center tech-disp"></div>
    </div>
  </div>
</div>
