<div class="wrapper-white">
  <div class="row">
    <div class="col-12">
      <div class="main-container" id="about">
        <h4>USA raised, Japan based</h4>
        <p>A Fullstack web developer based out of Tokyo, originally from Chicago, IL, USA</p>
        <p>I believe in Kaizen (改善) or "continuous improvement", and am always chasing new projects and tech to work with.</p>
        <p>Beyond the digital realm, you can find me hiking Japan's 100 famous mountains （百名山）or jogging downtown.</p>
      </div>
    </div>
  </div>
</div>
