<div class="row delimit">
  <div class="col-12">
    <div class="container" id="resumes">
      <%# <h2> Work History </h2>
      <br> %>
      <div class="resumes">
        <a href="../files/eres.pdf" class="reslink" download="resume_JW">
          <div class="card-pick">
            <%= image_tag 'pexels-trace-hudson-2725634.jpg', alt: "resume" %>
            <div class="card-pick-info">
              <h4>Resume</h4>
            </div>
          </div>
        </a>
        <a href="../files/jres.pdf" class="reslink" download="職務経歴書_JW">
          <div class="card-pick">
            <%= image_tag 'pexels-audrey-mari-3421920.jpg', alt: "resume" %>
            <div class="card-pick-info">
              <h4>職務経歴書</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
