<div class="row my-5">
  <div class="col-12">
    <div class="container" id="resumes">
      <h2> Work History </h2>
      <br>
      <div class="resumes">
        <a href="https://drive.google.com/file/d/1JdHXnS8aaBmZQqRQo8fV6q0oZQEDET12/view?usp=sharing" target="_blank" class="reslink">
          <div class="card-pick">
            <%= image_tag 'pexels-trace-hudson-2725634.jpg', alt: "resume" %>
            <div class="card-pick-info">
              <h4>English Resume</h4>
            </div>
          </div>
        </a>
        <a href="https://drive.google.com/file/d/137X__sXm0WOKT6gYyJgKbQYKLcy1KQ5J/view?usp=sharing" target="_blank" class="reslink">
          <div class="card-pick">
            <%= image_tag 'pexels-audrey-mari-3421920.jpg', alt: "resume" %>
            <div class="card-pick-info">
              <h4>職務経歴書</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
