.main-container {
  max-width: 620;
  margin: 0px auto;
  border-radius: 1rem;
  height: 100%;
  padding: 24px;
  margin-bottom: 24px;
}

.main-container span {
  text-align: center;
}

.sub-container {
  max-width: 580px;
  margin: 0px auto;
  border-radius: 1rem;
  height: 100%;
  border-right: black 2px solid;
  border-bottom: black 2px solid;
  padding: 24px;
  margin-bottom: 24px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.main-container p {
  font-size: 18px;
}

.main-container h4 {
  text-align: center;
}

.wrapper-white {
  align-items: center;
  margin-bottom: 24px;
  border-radius: 5px;
}

.tech-card img {
  width: 50px;
  height: auto;
}


// Medium devices (tablets, 768px and up)
@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 580px) {

}
