.banner {
  height: 70vh;
  background-color: $scheme2-dark;
  color: $scheme2-light;
  border-radius: .5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

// .title-main {
//   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
// }


@media only screen and (max-width: 580px) {
  .banner {
    border-radius: 0;
  }
}
