#projects h2{
  text-align: center;
}

.wrapper{margin:10vh}
//post card styles

.card{
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow:hidden;
  background: none;
  border-radius:1rem;
  min-height:350px;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.3);
  border-right: black 2px solid;
  border-bottom: black 2px solid;
  color: black;

 @media (max-width: 768px) {
  min-height:300px;
  background-image: none;
}

@media (max-width: 420px) {
  min-height:250px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

 &.card-has-bg{
 transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  background-size:85%;
  background-repeat:no-repeat;
  background-position: center center;
  border-radius: 1rem;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
  }
  @media (max-width: 420px) {
    background-size: 0;
  }

  &:hover {
    transform: scale(0.98);
     box-shadow: 0 0 5px -2px rgba(0,0,0,0.3);
    background-size:120%;
     transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

    .card-img-overlay {
      transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
      // background: none;
      background: rgba(240, 245, 249, .9);
      // background: rgba(251, 176, 172, .5)
      // background: linear-gradient(0deg, rgba(192, 196, 199, 0.2) 0%, rgba(191, 192, 194, 0.5) 100%);

    //   background: rgb(35,79,109);
    //  background: linear-gradient(0deg, rgba(4,69,114,0.5) 0%, rgba(4,69,114,1) 100%);
     }
     @media (max-width: 420px) {
      background-size: 0;
    }
  }
}
 .card-footer{
  flex: 1;
  background: none;
   border-top: none;
    .media{
     img{
       border:solid 3px rgba(255,255,255,0.3);
     }
   }
 }
 .card-meta{color: black}
 .card-body{
  font-weight: bold;
   transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
 &:hover {

  a {
    z-index: 1;
  }

  .card-link img{
    display: block;
    animation: fadeIn 1s;
  }
  .card-footer{
    margin-bottom: 1rem;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .card-meta{
    font-weight: bold;
    // font-size: large;
    transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
  }
   .card-body{
    //  margin-top:1rem;
    // margin: 1.5rem 0;
    flex: 0;
     transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
   }
//  cursor: pointer;
 transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
 .card-img-overlay {
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  background: none;
  // background: rgb(210, 213, 215);
  background: rgba(251, 176, 172, .3);
  // background: rgba(240, 245, 249, .7);
  // background: linear-gradient(0deg, rgba(192, 196, 199, 0.379) 0%, rgb(191, 192, 194) 100%);
  // background: linear-gradient(0deg, rgba(192, 196, 199, 0.2) 0%, rgba(191, 192, 194, 0.5) 100%);

}
}
.card-link {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-bottom: 4rem;
  flex: 2;
}
.card-link img {
  display: none;
  width: 100px;
  height: auto;
}

.card a {
  text-decoration: none;
  // color: black
}
@media (max-width: 767px){

}
