
.delimit {
  margin: 10rem 0;
  // background-color: rgba(0,0,0, 0.7);
  // text-align: center;
  // padding: 1rem 0;
  // margin-bottom: 5rem;
  // color: rgb(246,244,245);
  // position: absolute;
  // // top: 0;
  // left: 0;
  // width: 100%;
}

.delimit-top {
  margin-bottom: 10rem;
}

.falling-leaves {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 100%;
  // max-width: 880px;
  max-height: 100vh; // image is only 880x880
  transform: translate(-50%, 0);
  // border: 20px solid #fff;
  // border-radius: 50px;
  // background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/125707/sidebar-bg.png) no-repeat center center;
  // background-size: cover;
  overflow: hidden;
}

.leaf-scene {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    transform-style: preserve-3d;
    // z-index: -1;

    div {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      // background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/125707/leaf.svg) no-repeat;
      background: url(../../images/cherry-blossom.svg) no-repeat;
      background-size: 100%;
      transform-style: preserve-3d;
      backface-visibility: visible;
    }
  }
