// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$dark-gray: #0E0000;
$gray: #868686;
$light-gray: #F4F4F4;

// Scheme1
$scheme1-lightblue: #f0f5f9;
$scheme1-midblue: #c9d6df;
$scheme1-darkblue: #52616b;
$scheme1-black: #1e2022;

// Scheme2
$scheme2-light: #e1dfba;
$scheme2-mid: #7f7e90;
$scheme2-dark: #4d424d;
$scheme2-darker: #36292c;
